<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="2-column.css">
  <title>Two column layout</title>
</head>
<body>
<header>
  <h1>A naive two column layout without using Bootstrap framework</h1>
</header>
<main>
  <section class="left-column-option-3">
    <h2>Lorem Ipsum</h2>
    <article>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada ac massa at congue.
      Sed vulputate diam nisl, sed vulputate risus suscipit at. Suspendisse porta purus et justo
      lobortis, ut feugiat diam lacinia. Suspendisse vulputate euismod ornare. Nam porta arcu et
      erat molestie, sed ultricies justo posuere. Quisque luctus fringilla facilisis. Vestibulum
      varius dignissim erat ut ullamcorper. Mauris in dignissim nisi. Cras accumsan, libero in porta
      condimentum, tellus dolor congue sapien, nec cursus libero massa sed risus. Maecenas rhoncus
      diam id velit gravida, vel euismod lorem tincidunt. Duis id sem at ex lacinia placerat id in
      velit.
      Integer orci lacus, elementum sed mi non, finibus sagittis nisl. Vestibulum a ex interdum,
      ultrices orci sed, aliquam magna. Ut eu malesuada orci. Etiam vel tortor sed magna varius
      tempor. Quisque dapibus leo ac congue egestas. Praesent id tristique risus, et lobortis nisi.
      Maecenas vulputate suscipit convallis. Donec nisl ligula, volutpat nec ante nec, congue tempus
      purus. Aenean eget accumsan libero. Sed at eleifend sapien, at condimentum odio. Donec gravida
      enim turpis, ac fermentum ipsum condimentum vitae. Suspendisse potenti. Nulla laoreet ligula
      tellus, quis eleifend ante dapibus eget.
    </article>
  </section>
  <section class="right-column-option-3">
    <h2>What is Lorem Ipsum?</h2>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
      been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
      galley of type and scrambled it to make a type specimen book. It has survived not only five
      centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It
      was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
      passages, and more recently with desktop publishing software like Aldus PageMaker including
      versions of Lorem Ipsum.
    </p>
  </section>
</main>
<footer>
  <p>
    "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
  </p>
</footer>
</body>
</html>
